*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

table > tr:nth-of-type(odd) {
  background-color: rgb(230, 230, 230);
}

thead tr:nth-child(1) {
  background-color: #fff;
}

table {
  border: 1px solid #4e4b4bb8;
  margin: 1% 3%;
  table-layout: fixed;
  border-collapse: collapse;
}

td,
th {
  border: 1px solid #4e4b4b3d;
  padding: 3px;
}

td {
  padding: 10px;
  overflow: hidden;
  background-color: #fff;
}

.t-headers {
  text-align: justify;
}

.m-name {
  margin: 0%;
  width: 10%;
  vertical-align: baseline;
  font-size: larger;
  font-weight: bold;
}

.m-desc {
  width: 60%;
}

.btn {
  padding: 10px;
  font-size: large;
}

.active-btn {
  color: red;
  font-size: large;
  border-color: red;
  padding: 10px;
}

.m-reserved {
  background-color: gray;
  border-radius: 5px;
  color: #fff;
  padding: 5px;
  font-size: smaller;
}

.active-reserved {
  background-color: #4ec1ba;
  border-radius: 5px;
  font-size: medium;
  color: #fff;
  padding: 5px;
}

.center {
  text-align: center;
}
