*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1% 3%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

nav > ul {
  display: flex;
  gap: 18px;
  font-size: medium;
  font-weight: 500;
}

a {
  color: #2c94f0;
}

.logo {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px;
}

.logo > img {
  width: 80px;
}

.active {
  color: black;
  text-decoration: underline;
}
